<%= form_for @article, validate: true, html: {class: 'form'} do |f| %>
  <div class="modal-body">
    <div class="form-group">
      <label class="control-label">文章标题</label>
      <div class="clearfix">
        <%= f.text_field :title, maxlength: 30, class: "col-xs-12" %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">所属分类</label>
      <div class="clearfix">
        <%= f.select :category, Article.category_options[0..-1], {}, class: 'col-xs-12 select' %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">状态</label>
      <div class="clearfix">
        <%= f.select :status, Article.status_options[0..-1], {}, class: 'col-xs-12 select' %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">文章内容</label>
      <div class="clartfix">
        <%= f.text_area :text, class: "col-xs-12" %>
        <%#= render "shared/form_rich_text", field_name: "text", obj: @article, f: f, wrapper_html_options: {class: "clearfix"} %>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
  <div class="modal-footer">
    <!-- <button type="submit" class="btn btn-sm btn-primary form-submit" data-fn="submit">确定</button> -->
    <%= f.submit "确定", class: "btn btn-sm btn-primary"%>
    <%= link_to '取消', list_articles_path, class: "btn btn-sm btn-primary" %>
  </div>
<% end %>
